{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/main.css' %}>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <a href="{% url 'applicationList' %}">Заявки</a>
        <p></p>
        <a href="{% url 'applicationStatusList' %}">Статусы заявкок</a>
        <p></p>
        <a href="{% url 'serviceList' %}">Услуги</a>
    </div>


    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</div>

</body>
</html>