{% extends 'base.html' %}

{% block title %}
    Удалить сотрудника
{% endblock %}

{% block content %}
    <div class="wrap">
        <p>Вы действительно хотите удалить сотрудника: {{ personal.name }}?</p>
        <form action="{% url 'personalDelete' personal.id %}" method="POST">
            {% csrf_token %}
            <a class="btn btn-sm btn-warning" href="{% url 'personalList' %}">Отмена</a>
            <button type="submit" class="btn btn-primary btn-sm">Удалить</button>
        </form>
    </div>
{% endblock %}
