{% extends 'base.html' %}

{% block title %}
Список сотрудников
{% endblock %}

{% block content %}
    <div class="wrap">
        <h3>Список сотрудников</h3>
        <table class="table table-sm table-hover">
            <thead>
            <tr class="d-flex">
                <th class="col-sm-3">Имя </th>
                <th class="col-sm-6">Группа</th>
                <th class="col-sm-2">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for personal in personals %}
                <tr class="d-flex">
                    <td class="col-sm-3">{{ personal.name }}</td>
                    <td class="col-sm-6"> {{ personal.group }}</td>
                    <td class="col-sm-2">
                        <a class="btn btn-sm btn-info" href="{% url 'personalChange' personal.id %}">Изменить</a>
                        <a class="btn btn-sm btn-danger"
                           href="{% url 'personalDelete' personal.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="col-2" style="margin-left: -15px">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'personalAdd' %}">Добавить</a>
    </div>

    </div>

{% endblock %}





