{% extends 'base.html' %}

{% block title %}
    Удалить группу пользователей
{% endblock %}

{% block content %}
    <div class="wrap">
        <p>Вы действительно хотите удалить группу: {{ group.name }}?</p>
        <form action="{% url 'personalGroupDelete' group.id %}" method="POST">
            {% csrf_token %}
            <a class="btn btn-sm btn-warning" href="{% url 'personalGroupList' %}">Отмена</a>
            <button type="submit" class="btn btn-primary btn-sm">Удалить</button>
        </form>
    </div>
{% endblock %}
